[submodule "NintendoNetworkHelper"]
	path = NintendoNetworkHelper
	url = https://github.com/mntone/NintendoNetworkHelper.git
[submodule "Mntone.SplatoonClient/XPath"]
	path = Mntone.SplatoonClient/Mntone.XPath
	url = https://github.com/mntone/XPath.git
